body{
    background-color: brown;
}
a{
    color: blue;
    font-size: 40px;
    font-weight: 100px;
    text-decoration: none;
}
img{
    width: 300px;
}
table
{
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
}
td,th{
    border: 1px solid;
}
ul{
    list-style-type:circle;
}
#title{
    background-color: red;
    text-decoration-color: blue;
    padding: 10px;
}
.title-name{
    background-color: blueviolet;
    color: red;
    padding: 10px;
    border-top: 2px;

}
/* .frame{
    frame: border 0px;
    width: 500px;
    height: 200px;
} */
