body{
    background-color: brown;
}
a{
    color: blue;
    font-size: 40px;
    font-weight: 100px;
    text-decoration: none;
}
img{
    width: 300px;
}
table
{
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
}
td,th{
    border: 1px solid;
}
ul{
    list-style-type:circle;
}
